
[package]
name = "startin"
version = "0.4.3"
authors = ["Hugo Ledoux <h.ledoux@tudelft.nl>"]
edition = "2018"
license = "MIT"
description = "A Delaunay triangulator for terrain data."
repository = "https://github.com/hugoledoux/startin"
keywords = ["delaunay", "triangulation", "terrain", "gis"]
readme = "README.md"

[dependencies]
rand = "0.6"

[dev-dependencies]
csv = "1"
serde = "1.0"
serde_derive = "1.0"


[[example]]
name = "example1"

